@font-face {
    font-family: playfair_display;
    src: url("FONTS/Playfair_Display/PlayfairDisplay-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: inconsolata;
    src: url("FONTS/Inconsolata/inconsolata.regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url("FONTS/Ubuntu/Ubuntu-Light.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'playfair_display';
    font-size: 14px;
    color: #626262;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1062px;
        padding-right: 0;
        padding-left: 0;
    }
    .description,.post, .blog {
        max-width: 900px;
        margin: auto;
    }
    .item {
        width: 420px;
        height: 600px;
        margin: auto;
    }
    #email {
        max-width: 1200px;
        margin: auto;
    }
    footer {
        max-width: 1200px;
        margin: auto;
    }
    
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    background-color: #ffffff !important;
    padding: 0;
    margin-top: 50px;
}

.navbar-brand {
    font-family: 'inconsolata';
    font-size: 30px;
    color: #000000;
}

a.nav-link {
    margin-right: 50px;
}

a#atv.nav-link {
    margin-right: 0px;
    padding-right: 0;
}

#list {
    text-transform: uppercase;
}

#banner {
    margin-bottom: 96px;
}
h3 {
    font-family: 'ubuntu';
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2 {
    font-family: 'playfair_display';
    color: #626262;
    font-size: 30px;
    margin-bottom: 40px;
}

.description> p:last-child {
    margin-top: 55px;
    margin-bottom: 135px;
    text-transform: uppercase;
}

.tag {
    margin-top: 32px;
    margin-bottom: 27px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.title {
    font-size: 30px;
    margin-bottom: 40px;
}

.content {
    width: 100%;
    margin-bottom: 135px;
}

#email {
    background-color: #f0f0f0;
    font-family: 'playfair_display';
    text-align: center;
    height: 287px;
    margin-bottom: 103px;
}

#email>h2 {
    font-size: 30px;
    padding-top: 75px;
}

.email {
    width: 400px;
    border-bottom: #000000;
    margin: 0 auto;
    border-bottom: solid 1px #000000;
}

.load {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 175px;
}

#input {
    width: 350px;
    height: 40px;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    border: solid 0px;
    outline: none;
}

.load > button {
    background-color: #ffffff;
    border: solid 1px #626262;
    font-family: 'playfair_display';
    font-size: 20px;
    color: #626262;
    width: 162px;
    height: 58px;
}

footer {   
    font-size: 14px;
    height: 100px;
    background-color: #f0f0f0;
    padding-top: 38px;
}
footer a:hover {
    text-decoration: none;
    color: #626262;
}

.left {
    padding-right: 15px;
    color: #626262;
}
.ft-left {
    margin-left: 150px;
    float: left;
}
.ft-right {
    margin-right: 70px;
    float: right;
}
.right {
    padding-right: 22px;
    color: #626262;
}
@media (max-width: 768px){
    .email {
        width: 100%;
        border-bottom: #000000;
        margin: 0 auto;
        border-bottom: solid 1px #000000;
    }
    #input {
        width: 75%;
        height: 40px;
        background-color: #f0f0f0;
        border-color: #f0f0f0;
        border: solid 0px;
        outline: none;
    }
    nav.navbar.navbar-expand-md.navbar-light.bg-light {
        background-color: #ffffff !important;
        padding: 0;
        margin: 15px;
    }
    footer {
        text-align: center;
        padding-top: 20px;
    }
    .ft-left {
        display: block;
        margin: auto;
        float: none;
        
    }
    .ft-right {
        display: block;
        margin: auto;
        float: none;
    }
}