
body {
	width: 100%;
	background: #f4f7fa;
	margin: auto;
}
.menu2:visited {
	color: black;
}
.menu {
	padding-right:20px;
	padding-left: 20px;
}
a{
    text-decoration: none;
}
a:link {
	color: green;
}
a:visited {
	color: white;
}
a:hover {
	color: green;
}
a:active {
	color: red;
}

#header {
	background: blue;
	color: white;
	padding: 1em;
	display: flex;
	justify-content: center;
	font-size: 18px;
}

