* {
    box-sizing: border-box;
}
body {
	background-color: #f4f7fa;
	width: 80%;
	margin: auto;
}
#banner{
		margin: auto;
}
#banner img {
	min-width: 100%;
	max-width: 100%;
	margin: auto;
}
.content1 img {
	max-width: 300px;
	min-width: 300px;
	border-radius: 4px;
}
.content1 img:hover {
		border-radius: 40px;
}
.content1{
	box-shadow: 0px 1px 1px 1px rgba(158,136,158,1);
	color: black;
	background-color: #f4f7fa;
	margin: 15px;
	min-height: 300px;
	border-radius: 4px;
	padding: 0;
}
#content {
	display: flex;	
	justify-content: center;
	flex-wrap: wrap;
	background-color: #f4f7fa;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px rgba(158,136,158,1);
	margin: 1em;
}

a{
    text-decoration: none;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: green;
}
a:active {
	color: red;
}

#header {
	border-radius: 5px;
	box-shadow: 0px 1px 1px 1px rgba(158,136,158,1);
	color: white;
	font-size: 18px;
	
}
#menu {
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: black;
	padding: 5px;
	margin-bottom: 1em;
	margin-top:0.5em;
	display: block;
	text-align: center;
	position: relative;
}
#menu a{
	padding-right: 15px;
}
#menu > a:first-child {
	padding: 4px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
	top: -161px;
    left: 78px;
    position: absolute;
}
#menu > a:first-child > img {
	max-width: 140px;
	border-radius: 50%;
}
#menu-doc {
	width: 108px;
	position: absolute;
	top: 58%;
	right: 1%;
}
#menu-doc a {
	background-color: #eee; 
	color: black; 
	display: block;
	text-decoration: none;
	text-align: center;
}
#footer {
	text-align: center;
	margin: 15px;
	padding: 15px;
	border-top: 1px solid black;
}
#backtop {
	position: fixed;
	right: 2%;
	bottom: 30px;
	border-bottom-style: solid;
	border-color: black;
}
#backtop > a > img {
	max-width:50px;
}