* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.wrap {
    height: 76px;
}
.carousel-index .col-md-12 {
    padding: 0;
}
.item {
    position: relative;
    border-radius: 5px;
}
.title-course {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0px 0px 0px -50% ;
    padding: 0 30px;
}
.name-course {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
}
.btn-red {
    background-color: #d92329;
    padding: 10px;
    border-radius: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.about-us {
    background-color: #0F0E0E;
}
.about-us > .container > .row {
    flex-direction: row-reverse;
}
.content-about {
    padding: 50px 20px 20px 20px;
}
.title-h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 15px;
}
.title-h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 40px;
}
.content-p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}
.content-trainer {
    position: absolute;
    bottom: -300px;
    margin: 0;
    left: 0;
    background: #E5E5E5;
    transition: .5s all;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}
.experience {
    list-style: none;
    text-align: left;
}
.experience li {
    margin: 1rem 0;
}
.item:hover .content-trainer {
    bottom: 0;
    
}
.promo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/promo/promo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.promo > .container-fluid {
    padding: 130px 10px 130px 10px;
    text-align: center;
}
.img-promo {
    width: 120px;
    margin-bottom: 30px;
}
.promo h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: white;
}
.registration {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../img/promo/registration.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.link-footer {
    margin: 10px 20px;
}


