* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #ededed;
}
label {
    margin: 5%;
    font-weight: lighter;
}
label.error {
    display: inline-block;
    color:red;
    width: 200px;
}
.login {
    width: 500px;
    height: auto;
    margin: 10px auto auto auto;
    border: 2px solid #BD59D7;
    border-radius: 10px;
    border: 1px solid #80808000;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
h2 {
    text-align: center;
}
img {
    display: block;
    width: 80px;
    margin: auto;
}
input {
    display: block;
    width: 70%;
    margin: 7px auto 15px auto;
    border-bottom: 2px solid #00BCD4;
    padding: 5px 0px 2px 15px;
    
}
::placeholder {
    color: #BD59D7;
}
input:focus {
    outline: none;
}
button {
    width: 40%;
    background: linear-gradient(to right, #fc00ff, #00dbde);
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: block;
    margin: 25px auto 15px auto;
    font-size: 18px;
}
button:hover {
    background: linear-gradient(to right, #fc466b, #3f5efb);
}
.date {
    color: #BD59D7;
    text-transform: uppercase;
}
.radio {
    width: 70%;
    margin: auto;
}
.radio input  {
    display: inline-block;
    width: 25px;
    margin: 15px 0px 15px 20px;
    color: #fc00ff;
}
p {
    text-align: left;
    font-size: 17px;
    margin-left: 40px;
}
#name {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 15px;
}
#contact {
    text-align: center;
    margin: 15px;
}
.back {
    width: 40%;
    background: linear-gradient(to right, #fc00ff, #00dbde);
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: block;
    margin: 25px auto 15px auto;
    text-align: center;
    text-decoration: none;
}
.back:hover {
    background: linear-gradient(to right, #fc466b, #3f5efb);
}