* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.wrap {
    height: 76px;
}
.registration {
    margin-bottom: 3rem;
}
.course .item {
    margin-bottom: 2rem;
}
.item {
    position: relative;
    border-radius: 5px;
}
.title-course {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0px 0px 0px -50% ;
    padding: 0 30px;
}
.course-item {
    position: relative;
    overflow: hidden;
}
.course-content {
    margin: 0 15px;
    position: absolute;
    opacity: 0;
    background-color: #d92329;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-out;
}
.course-content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
}
.course-item:hover .course-content {
    opacity: 0.6;
    padding: 0 15px;
}
.course-item:hover .title-course {
    display: none;
}
.name-course {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: white;
}
.btn-red {
    display: block;
    background-color: #d92329;
    padding: 10px;
    border-radius: 4px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.btn-red:hover {
    transition: .3s ease-out;
    opacity: 0.85;
}
.about-us {
    background-color: #0F0E0E;
}
.about-us > .container > .row {
    flex-direction: row-reverse;
}
.content-about {
    padding: 50px 20px 20px 20px;
}
.title-h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 15px;
}
.title-h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 40px;
}
.content-p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}
.box-trainer {
    position: relative;
    background: #000;
}
  
.box-trainer .imgtrainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box-trainer .content {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    background: #FFFFFF;
    opacity: 0.85;
    transition: 0.5s;
    overflow: hidden;
    box-sizing: border-box;
}
  
.box-trainer:hover .content {
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
}
  
.box-trainer .content h3 {
    color: black;
    margin: 0.3rem 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    
}
  
.box-trainer .content p {
    margin: 1.2rem 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}
  
.box-trainer:hover .content p {
    opacity: 1;
    transition-delay: 0.5s;
}
.promo {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/promo/promo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.promo > .container-fluid {
    padding: 130px 10px 130px 10px;
    text-align: center;
}
.img-promo {
    width: 120px;
    margin-bottom: 30px;
}
.img-promo:hover {
    transform: scale(1.1);
    transition: 0.4s ease-out;
}
.promo h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: white;
}
.registration {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(../img/promo/registration.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.link-footer {
    margin: 10px 20px;
}

.tag {
    float: left;
    margin-right: 1rem ;
}
.tag, .date-box {
    margin-bottom: 1rem;
}
.box {
    position: relative;
    background: #000;
}
  
.box .imgblog {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .content {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 10px;
    background: #FFFFFF;
    opacity: 0.85;
    transition: 0.5s;
    overflow: hidden;
    box-sizing: border-box;
}
  
.box:hover .content {
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
}
  
.box .content h3 {
    color: black;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    
}
  
.box .content p {
    margin: 1.2rem 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}
  
.box:hover .content p {
    opacity: 1;
    transition-delay: 0.5s;
}
.carousel-index .slick-dots {
    display: none !important;
}
.carousel-index .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.video-modal .modal-dialog {
    max-width: 1200px;
}
.video-modal .modal-body {
    background: black;
    position:relative;
    padding:0px;
    max-width: 1200px;
    border-radius: 0px;
}
.video-modal .close {
    position:absolute;
    right:-11px !important;
    top:-11px !important;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}
.carousel-index .slick-prev::before, .carousel-index .slick-next::before {
    color: blue !important;
}
.banner-index .slick-next, .banner-index .slick-prev {
    color: blue !important;
}