* {
    box-sizing: border-box;
}
.container {
    width: 800px;
    margin: auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #4CAF50;
    color: white;
}
td {
    height: 40px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
