* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap {
    background-color: green;
    max-width: 1200px;
    display: grid;
    
}
.header {
    background-color: pink;
    width: 100%;
    height: 30px;
}
.container {
    display: grid;
    padding: 15px;
}
.item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    margin-bottom: 20px;
}
.content {
    background-color: blue;
    width: auto;
    height: 300px;
}
.item1 {
    background-color: blue;
    height: 400px;
}
@media (min-width: 1025px) {
    .wrap {
        margin: auto;
        display: grid;
    }
    .container {
        grid-template-columns: auto auto;
        padding: 0px 20px 0px 20px;
        grid-gap: 20px;
    }
    .item {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 15px;
    }
    .content {
        background-color: blue;
        width: auto;
        height: 300px;
    }
    .item1 {
        height: 100%;
    }
}