* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  background-image: url("../images/sitebg.jpg");
}
ul {
  margin-left: 30px;
}
li {
  margin-bottom: 10px;
  list-style-position: inherit;
  list-style-image: url(../images/oval.png) ;
}
.container {
  max-width: 1500px;
  height: 100%;
}
.main-container {
  display: flex;
  padding: 40px 40px 40px 40px;
  height: 100vh;
  position: relative;
}
.navbar {
    padding: 0;
}
.navbar-nav {
    margin-left: 0;
}
.navbar-nav li {
    list-style: none;
}
.navbar-light .navbar-toggler {
    position: fixed;
    border-radius: 0;
    left: 10px;
    top: 50px;
    z-index: 100;
    background-color: white;
    opacity: 0.5;
  }
  
  .navbar-light .navbar-toggler:hover {
    opacity: 1;
  }
  
  .navbar-collapse {
    position: fixed;
    top: 70px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 320px;
    transition: all 0.3s ease;
    display: block;
    z-index: 3;
    border-radius: 5px;
    padding: 20px;
    background: #32323a;
    z-index: 100;
    margin-top: 20px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #eee;
  }
  
  .navbar-collapse.collapsing {
    height: auto;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
    opacity: 0;
  }
  
  .navbar-collapse.show {
    left: 10px;
    opacity: 1;
  }
.left-column {
  background-color: #697083;
  padding: 60px 40px 80px 40px;
  height: 100%;
  overflow: auto;
}
.fixed {
  width: 400px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  height: 100vh;
  padding: 40px 0 40px 0;

}
.profile-image {
  margin: auto auto 40px auto;
}
.short-description {
  margin-bottom: 35px;
  text-align: center;
  color: white;
}
.short-description > h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 22px;
}
.information {
  margin-bottom: 50px;
}
.profile-list {
  margin: 0;
}
.profile-list li {
  padding: 0;
  list-style: none;
  margin-bottom: 13px;
}
.profile-list .title-profile {
  display: block;
  width: 80px;
  float: left;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: white;
}
.profile-list .cont {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: white;
}
.profile-list a {
  color: white;
}
.top {
    animation: top 0.5s 0.75s both linear;
}
.left {
    animation: left 0.5s 0.5s both linear;
}
.right {
    animation: right 0.5s 0.5s both linear;
}
@keyframes left {
    0% {
      opacity: 0;
      -webkit-transform: translate(-25px, 0px);
      -ms-transform: translate(-25px, 0px);
      transform: translate(-25px, 0px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px) translateY(0px) translateZ(0px);
    }
  }
  @keyframes right {
    0% {
      opacity: 0;
      -webkit-transform: translate(25px, 0px);
      -ms-transform: translate(25px, 0px);
      transform: translate(25px, 0px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px) translateY(0px) translateZ(0px);
    }
  }
@keyframes top {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px, -50px);
      -ms-transform: translate(0px, -50px);
      transform: translate(0px, -50px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px) translateY(0px) translateZ(0px);
    }
  }
.social-media a:hover {
  text-decoration: none;
  background-color: white;
}
.social-media a:hover .face {
  color: #1094f4;
}
.social-media a:hover .mail {
  color: red;
}
.social-media a:hover .github {
  color: black;
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social li {
  display: inline-block;
  margin: 5px 15px;
}
.social li a {
  color: white;
  width: 60px;
  height: 60px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  transition: transition, background-color 0.3s linear 0s;
  backface-visibility: hidden;
  border-radius: 50%;
}
.social li a,
.social li a .rsicon {
  line-height: 60px;
}
.social li a .rsicon {
  color: #fff;
  font-size: 40px;
  display: block;
  transition: transition, color 0.3s linear 0s;
}
.right-column {
  padding: 40px 25px 25px 25px;
  overflow: auto;
  background-color: white;
  margin-left: 400px;
}
.name span {
  display: inline-block;
  margin-bottom: 5px;
}
.name h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #181818;
}
.about,
.descriptions .experience,
.target,
.skills {
  padding-top: 50px;
}
.top {
  display: flex;
}
.title {
  text-decoration: underline #181818;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #181818;
}
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #697083;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0;
  }
  .main-container {
    flex-wrap: wrap;
    height: auto;
    padding: 0;
  }
  .fixed {
    position: static;
    width: 100%;
    top: 0;
    transform: none;
    height: auto;
    padding: 0;
  }
  .navbar-light .navbar-toggler {
    position: fixed;
    left: 10px;
    top: 10px;

  }
  .left-column {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .short-description {
    width: 100%;
  }
  .profile {
    display: flex;
  }
  .profile-image {
    max-width: 215px;
    margin: auto auto 35px auto;
  }
  .list1,
  .list2 {
    width: 50%;
  }
  .list1,
  .list3 {
    padding-left: 40px;
  }
  .profile-list .title-profile {
    width: 55px;
    text-align: left;
  }
  .right-column {
    margin-left: 0;
  }
  .information {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    padding: 0;
  }
  .left-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .short-description {
    display: inline;
  }

@media screen and (max-width: 576px) {
  .container {
    padding: 0;
  }
  .profile {
    display: flex;
    flex-wrap: wrap;
  }
  .list1,
  .list2 {
    width: 100%;
  }
  .list1,
  .list3 {
    padding-left: 0;
  }
  .name h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 346px) {
  .social li {
    margin: 0;
  }
  .right-column {
    padding: 30px 15px 15px 15px;
  }
  ul {
    margin-left: 1.5rem;
  }
}
