* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.wrap {
	max-width: 1200px;
	margin: auto;
}
.header {
	position: relative;
}
.header img {
	width: 100%;
	border-radius: 3px;
}
ul {
  	list-style-type: none;
  	padding: 0;
}
a {
  	text-decoration: none;
}

.menu {
	position: absolute;
  	text-align: center;
 	width: 100%;
  	background-color: rgba(255,255,255,0.5);
  	text-transform: uppercase;
  	bottom: -12px;
  	border-radius: 3px;

}
.menu > img {
	position: absolute;
	top: -140px;
	left: 35px;
	width: 140px;
	float: left;
	border-radius: 50%;
}
.menu > li {
	display: inline-block;
  	position: relative;
}
.menu > li > a {
  	color: black;
  	padding: 15px;
  	display: block;
  	font-weight: bold;
  	border-bottom: 2px solid transparent;
}
.menu > li > a:hover {
  	border-bottom: 2px solid red;
}
#content {
	background-color: #FFFFCC;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 1px rgba(158,136,158,1);
	margin: auto;	
	padding: 15px;
}
.footer {
	border-top: black solid 1px;
	margin-top: 2em;
}
#content p {
	text-align: center;
}
span {
	font-size: 18px;
}
.footer p{
	text-align: right;
	font-size: 20px;
	color: black;
	text-align: right;
	position: relative;
    animation: move 15s ease infinite;
    animation-direction: normal;	
}
@keyframes move{
    0%  {top:0px;right:-150px; opacity: 0.1;}
	10%	{top:0px;right:0px; opacity: 0.99999}
	75% {top:0px;right:600px; opacity: 0.9999}
	90% {top:0px;right:600px; color: transparent;}
	100% {top:0px;right:600px; color: transparent;}
}