*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: var(--text);
}
a {
  text-decoration: underline;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
}
/* variables */
:root {
  --primary: #70c6a6;
  --heading: #353738;
  --text: #848789;
  --input-border: #d3d7d9;
  --input-text: #929292;
  --bg-light: #f7f7f7;
  --bg-dark: #1a1c28;
}
/*structure*/
.wrap {
  max-width: 160rem;
  margin: 0 auto;
}
/*header*/
.header {
  min-height: 80rem;
  background-image: url(../images/banner.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.navbar {
  margin-top: 3rem;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}
.nav-item:first-child:after,
.nav-item:nth-child(4):after {
  content: ".";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}
.nav-link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: var(--heading);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}
.nav-item .nav-link:hover {
  transform: scale(1.2);
  transition: transform 1.3s;
  color: var(--primary);
}
/* about-us*/
.about-wrap {
  padding: 11.8rem 1.5rem 12.7rem;
  background-color: var(--bg-light);
  text-align: center;
}
.about-img-top,
.feature-img-top {
  margin: 0 auto 3.4rem;
}
.about-heading,
.feature-heading {
  font-size: 1.8rem;
  margin-bottom: 2.7rem;
  font-weight: bold;
  color: black;
  letter-spacing: 0.2em;
}
.about-content {
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: var(--text);
  max-width: 108rem;
  margin: 0 auto;
  letter-spacing: 0;
  font-weight: 400;
}
/* feature */
.feature-item {
  display: flex;
  height: 60rem;
  overflow: hidden;
}
.feature-item:nth-child(2) {
  flex-direction: row-reverse;
}
.feature-item-img {
  max-width: 106.7rem;
  position: relative;
  overflow: hidden;
}
.feature-item-img-wrap {
  height: 100%;
}
.feature-item-img-wrap:hover {
  transform: scale(1.1);
  transition: transform 1.3s cubic-bezier(0.25, 0.45, 0.45, 0.95) 0s;
}
.feature-item-content {
  max-width: 53.3rem;
}
.feature-item .feature-item-img-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.feature-item .feature-item-img-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.feature-item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature-item-content-top {
  padding: 7.1rem 6.6rem 0;
  position: relative;
  background-color: white;
  height: 40rem;
  text-align: center;
}
.feature-top-content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text);
  text-align: justify;
  letter-spacing: 0;
  padding-bottom: 2.6rem;
  position: relative;
}

.feature-item-content-bottom {
  height: 20rem;
  overflow: hidden;
}
.feature-item-content-bottom .feature-item-img-bottom {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.feature-item-content-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  z-index: 10;
  transform: translate(-50%, 50%) rotate(-45deg);
}
.feature-top-content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 0.2rem;
  background-color: var(--bg-light);
}
.feature-last-item {
  display: flex;
  max-width: 106.7rem;
}
.feature-item-img-left {
  max-width: 50%;
  position: relative;
}
.feature-item-center .feature-item-content {
  width: 50%;
}
.feature-item-img-right {
  max-width: 53.3rem;
}
.feature-item-img-left, .feature-item-img-right {
  overflow: hidden;
}
/* Twitter */
.twitter {
  padding: 12.1rem 28.2rem 6.8rem;
  text-align: center;
  background-color: white;
}
.content-twitter {
  margin-bottom: 11.5rem;
}
.twitter.wrap {
  width: 100%;
}
.tweet-heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.tweet-location,
.tweet-author {
  color: var(--heading);
  font-weight: bold;
}
.tweet-time {
  color: var(--text);
  font-weight: 300;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}
.tweet-time:before {
  content: "/";
  position: absolute;
  left: 0;
  top: 0;
}
.tweet-content {
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--text);
  font-style: italic;
  max-width: 104.5rem;
}
.slick-dots {
  bottom: 0;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.bg-light-circle {
  border: 1px solid var(--text);
  height: 1.2rem !important;
  width: 1.2rem !important;
  border-radius: 50%;
}
.slick-dots .slick-active {
  background-color: var(--text);
}
/*Photo*/
.images {
  display: flex;
  justify-content: space-between;
  height: 53.5rem;
  overflow: hidden;
}
.images-block {
  width: 33.333%;
  height: 100%;
  display: flex;
}
.images-block:first-child {
  flex-direction: column;
}
.images-block-item {
  height: 50%;
  width: 100%;
}
.images-block-item:first-of-type {
  display: flex;
}
.images-item {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.images-block-item:last-of-type .images-item {
  display: block;
  width: 100%;
}
.images-block:last-child {
  flex-direction: column-reverse;
}
.images-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #70c6a6c9;
  z-index: 10;
  display: none;
}
.images-item-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images-item-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  display: none;
}
.images-item-brand > img {
  margin: 0 auto;
}
.images-item-text {
  text-transform: uppercase;
  color: white;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
.images-item:hover:before,
.images-item:hover .images-item-brand {
  display: block;
}
.discover {
  padding: 7rem 1.5rem;
  background-color: var(--bg-dark);
  text-align: center;
}
.discover-btn {
  display: inline-block;
  min-width: 30rem;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  border: 1px solid currentColor;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s linear;
}
.discover-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
/* Mail-box */
.mail {
  padding: 10rem 1.5rem;
  background-color: white;
  text-align: center;
}
.mail-logo {
  margin: 0 auto 3.5rem;
}
.mail-text {
  font-size: 2.4rem;
  font-style: italic;
  color: var(--text);
  margin-bottom: 3.5rem;
  display: inline-block;
}
.mail-form {
  display: flex;
  justify-content: space-between;
  max-width: 54rem;
  margin: 0 auto;
}
.mail-form-inp {
  border: 1px solid var(--input-border);
  color: var(--input-text);
  padding: 2.5rem;
  font-style: italic;
  font-size: 2rem;
  width: 74%;
}
.mail-form-btn {
  width: 25%;
  border: 0;
  outline: none;
  color: white;
  background-color: var(--primary);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
}
/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light);
  padding: 10.8rem 25rem;
}
.contact,
.contact-social,
.hand-craffted {
  width: 33.3333333333%;
}
.contact .contact-heading {
  font-size: 1.6rem;
  color: var(--text);
  line-height: 1.787rem;
}
.contact .contact-address {
  font-size: 1.39rem;
  color: var(--text);
  line-height: 1.787rem;
}
.contact-social {
  display: flex;
  justify-content: center;
}
.hand-craffted {
  display: flex;
  justify-content: flex-end;
}
.social-media {
  margin-right: 1.5rem;
}
.social-media:last-child {
  margin-right: 0;
}
.social-media:hover {
  transform: scale(1.2);
  transition: transform 1s;
}
.text-hand-craffted {
  display: flex;
  align-items: center;
  width: 9.5rem;
  font-size: 1.39rem;
  line-height: 1.787rem;
  color: var(--text);
  margin-right: 0.8rem;
}
/* Responsive */
@media only screen and (min-width: 768px) {
  .btn-collapse {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .feature-item-content-top {
    padding: 5rem;
  }
}

@media only screen and (max-width: 1179px) {
  .about-wrap {
    padding: 2rem;
  }
  .feature-item-content-top {
    padding: 2rem;
  }
  .feature-top-content {
    line-height: 1.6;
  }
  .twitter {
    padding: 2rem;
  }
  .content-twitter {
    margin-bottom: 2rem;
  }
  footer {
    padding: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    width: 100%;
  }
  .nav-item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .nav-item:after {
    display: none;
  }
  .btn-collapse,
  .nav-bg {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
    line-height: 5rem;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    z-index: 10;
  }
  .nav-bg {
    background-color: #eee;
    z-index: 8;
    transition: transform 0.25s linear;
  }
  .nav-list {
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9;
    transform: translateX(-100%);
    transition: transform 0.25s linear;
  }

  .inp-collapse:checked + .nav-bg {
    transform: scale(80);
  }

  .inp-collapse:checked ~ .nav-list {
    transform: translateX(0);
  }

  .feature-item {
    height: auto;
    flex-direction: column;
  }
  .feature-item:nth-child(2) {
    flex-direction: column;
  }
  .feature-item-content {
    max-width: 100%;
  }

  .feature-item-content-top {
    height: auto;
  }
  .feature-last-item {
    flex-direction: column;
  }
  .feature-item-img-left,
  .feature-item-img-right {
    max-width: 100%;
  }
  .images {
    height: auto;
    flex-direction: column;
  }
  .images-block {
    width: 100%;
  }
  .images-item {
    height: auto;
  }
}
@media only screen and (max-width: 540px) {
  footer {
    flex-direction: column;
  }
  .contact,
  .contact-social,
  .hand-craffted {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
